@font-face {
  font-family: "PrimaryFont";
  src: url("./assets/fonts/PrimaryFont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SecondaryFont";
  src: url("./assets/fonts/SecondaryFont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
